#app{
    text-align: center;
    font-family: sans-serif;
   
}
#problem{
    font-size: 72px;
}
.incorrect{
    color: red;
}
#final{
   font-size: 100px;
   color: green;
}
h1{
    text-align: center;
   text-decoration: underline;
}

